{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    td, table, th {
      background-color: slategray;
      border-collapse: collapse;
      border: 5px solid black;
    }
  </style>
  <body style="background-image: url(https://images2.alphacoders.com/564/thumb-1920-564835.jpg);"></body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">David Christianto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'wishlist:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wishlist:login' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'wishlist:register' %}">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<h5>Name: </h5>
<b>{{name}}</b>

<table>
    <tr>
    <th>Item Name</th>
    <th>Item Price</th>
    <th>Description</th>
    </tr>
</table>

<script>
  $(document).ready(() => {
       const url = "{% url 'wishlist:show_json' %}"
       $.get(url, (data) => {
           data.forEach((item) => {
               var item_name = item.fields.item_name;
               var item_price = item.fields.item_price;
               var item_description = item.fields.description;
               var html = "<tr><th>" + item_name + "</th>" +
                          "<th>" + item_price + "</th>" +
                          "<th>" + item_description + "</th></tr>";
       $("tbody").append(html);
           })
       });
   });
 </script>
{% endblock content %}

